<!DOCTYPE html>
<html>
    <head>
        <h1></h1>
        
        <link rel="stylesheet" href="./styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This page was made by hariharan.It uses data from mapbox.net and openweatherApi.</p>
        <img src="img/20191214_032825.jpg">
        </div>
        {{>footer}}
    </body>
</html>