<!DOCTYPE html>
<html>
    <head>
        <h1></h1>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./styles.css">
        </head>
        <body>

            <div class="main-content">
            {{>header}}
            <p>{{body}}</p>
            
            </div>
            {{>footer}}
        </body>
    
</html>